@font-face {
    font-family: gta;
    src: url(../font/grand-theft-auto/pricedow.ttf);
}
@font-face {
    font-family: Consolas;
    src: url(../font/consolas/Consolas.ttf);
}

html {
    user-select: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game {
    background-color: #111;
    width: 100%;
    height: 94vh;
    overflow: hidden;
    position: relative;
}

.soundTrack {
    visibility: hidden;
    position: absolute;
}
.audioPlay {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 2rem;
}

.startMenu {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at bottom right, #ffd9004a, #180065);
    user-select: none;
    animation: menuBG 15s infinite;
    transition: background-color 15s ease-in-out;
}
.startMenu_title {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
    background-image: url(../img/teste2.png);
    /* background-position: top center; */
    background-repeat: no-repeat;
    background-size: 400px;
    animation: menuTitle 1s ease-in-out forwards;
}
.startMenu__btn {
    position: absolute;
    left: calc(50% - 60px);
    top: 30%;
    font-family: gta;
    font-size: 3rem;
    cursor: pointer;
    z-index: 5;
    border-radius: 10px;
    border: none;
    opacity: 0;
    animation: menuBtn 1s ease-in-out 1s forwards;
}
.startMenu__btn:active {
    background-color: black;
    color: #efefef;
}
.startMenu__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/teste.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 400px;
    animation: menuPerson 1s ease-in-out forwards;
}

.epilogue {
    width: 100%;
    height: 100%;
    background-color: black;
    color: chartreuse;
    display: flex;
    justify-content: center;
}
.epilogue P {
    font-family: "Consolas", sans-serif;
    font-style: italic;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    padding: 2.5rem 1rem 1rem;
}
.epilogue p::after {
    content: ".";
    display: inline-block;
    width: 8px;
    height: 2.5rem;
    background-color: chartreuse;
    color: transparent;
    border-radius: 15px;
    margin-left: 5px;
    opacity: 1;
    animation: piscaTypeWritter 0.4s infinite;
}

.scene {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(#29acd7, #e4d295);
    z-index: 1;
}
.floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-image: url(../img/GrassTexture2.jpg);
    background-size: 3.5rem;
    background-position: 0 0;
    animation: floor 2s linear infinite;
    z-index: 2;
}
.player {
    position: absolute;
    bottom: 40px;
    left: 5px;
    width: 108px;
    height: 120px;
    z-index: 3;
    transform: scale(1);
}
.playerAnim {
    background-image: url(../img/scott.png);
    width: 108px;
    height: 120px;
    background-position: 0 0;
    /* animation: run 0.6s steps(8) infinite; */
}
.citySkylines {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 100%;
    background-image: url(../img/city-1117433_1920-2.png);
    background-repeat: repeat;
    background-size: 1920px 100%;
    background-position: 0 0;
    z-index: 1;
    animation: skylines 10s linear infinite forwards;
}
.clouds {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 100%;
    height: 50%;
    background-image: url(../img/clouds.png);
    background-size: 384px;
    background-repeat: repeat-x;
    animation: clouds 5s linear infinite forwards;
}

.coinBad {
    background-image: url(../imgs/coin.png);
    width: 170px;
    height: 170px;
    background-position: 0 0;
    animation: coinRotate 0.5s steps(5) infinite;
}
.coin {
    background-image: url(../imgs/coin.png);
    width: 170px;
    height: 170px;
    background-position: 0 0;
    animation: coinRotate 0.5s steps(5) infinite;
}

@keyframes run {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -870px 0;
    }
}

@keyframes jump {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -110px 0;
    }
}
@keyframes jumpFall {
    from {
        background-position: -220px 0;
    }
    to {
        background-position: -330px 0;
    }
}

@keyframes coinRotate {
    from {
        background-position: 0px 0;
    }
    to {
        background-position: -1053px 0;
    }
}

@keyframes floor {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

@keyframes skylines {
    from {
        background-position: 0 -4.4rem;
    }
    to {
        background-position: -1920px -4.4rem;
    }
}

@keyframes clouds {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -384px 0;
    }
}

@keyframes menuBG {
    0%,
    100% {
        background-color: #180065;
    }
    50% {
        background-color: #ffd900a5;
    }
}

@keyframes menuTitle {
    from {
        background-position: -100vw 0;
    }
    to {
        background-position: top center;
    }
}

@keyframes menuPerson {
    from {
        background-position: 200vw bottom;
    }
    to {
        background-position: left bottom;
    }
}

@keyframes menuBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes piscaTypeWritter {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media screen and (min-width: 50rem) {
    body {
        justify-content: center;
    }
    .game {
        background-color: #111;
        width: 50%;
        height: 90vh;
        border-radius: 15px;
        outline: 15px solid black;
    }
    @keyframes skylines {
        from {
            background-position: 0 -4.4rem;
        }
        to {
            background-position: -1920px -4.4rem;
        }
    }
}
